@page
@model AboutModel
@{
    ViewData["Title"] = Model.Item.Title;
    string body = Model.Item.Body;
}
@section MetaTags
{
    <meta name="title" content="Professional Translator, Cinta Garcia -- About Me">
    <meta name="description" content="I'm an international award-winning writer and English/Spanish translator.">
    <meta name="keywords" content="Fiction Translations, Translate English to Spanish, Translate Spanish to English, Translate Novels, Translate Short Stories">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="90 days">
    <meta name="author" content="Cinta Garcia de la Rosa Translation Services">
    <meta property="og:url" content="https://professionaltranslator.net/About" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="About Me" />
    <meta property="og:description" content="Translating Fiction is an art, one that I specialize in." />
    <meta property="og:image" content="https://professionaltranslator.net/img/og/intro-16-9.png" />
    <meta property="og:image:alt" content="Professional Translator - English & Spanish" />
}
<div class="row mt-5 mb-4" style="display: none;">
    <div class="col-12 text-center page-header">
        <h1>
            @Html.Raw(Model.Item.Header)
        </h1>
    </div>
</div>
<div class="row mb-4 two-column-row">
    <div class="col-12 col-lg-8 text-column">
        <h2 class="h2-responsive page-header stay-visible mb-5">
            <sup><i class="fas fa-quote-left"></i></sup>@Html.Raw(Model.Item.Header.Trim())<sup><i class="fas fa-quote-right"></i></sup>
        </h2>
        @Html.Raw(body)
    </div>
    <div class="col-12 col-lg-4 graphic-column about">
        <img src="~/img/0541F989-9475-4CE9-AC85-2FB727A69446.png" alt="Cinta Garcia" title="Cinta Garcia">
    </div>
</div>