@page
@model CookiesModel
@{
    ViewData["Title"] = Model.Item.Title;
    string body = Model.Item.Body;
}
<div class="row mt-5 mb-4">
    <div class="col-12 text-center page-header">
        <h1>
            @Html.Raw(Model.Item.Header)
        </h1>
    </div>
    <div class="clearfix"></div>
    <div class="col-12 text-muted small">
        <p>
            Last Modified: @Html.Raw(Model.Item.LastModified.ToShortDateString())
        </p>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 text-justify">
        @Html.Raw(body)
    </div>
</div>