@page
@model HomeModel
@{
    ViewData["Title"] = Model.Item.Title;
    string body = Model.Item.Body;
}
@section MetaTags
{
    <meta name="title" content="Professional Translator, Cinta Garcia -- Home">
    <meta name="description" content="Learn about the two types of translations (Direct and Reverse).">
    <meta name="keywords" content="Fiction Translations, Translate English to Spanish, Translate Spanish to English, Translate Novels, Translate Short Stories">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="90 days">
    <meta name="author" content="Cinta Garcia de la Rosa Translation Services">
    <meta property="og:url" content="https://professionaltranslator.net/Home" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Hello! ¡Hola!" />
    <meta property="og:description" content="Translating Fiction is an art, one that I specialize in." />
    <meta property="og:image" content="https://professionaltranslator.net/img/og/intro-16-9.png" />
    <meta property="og:image:alt" content="Professional Translator - English & Spanish" />
}
<div class="row mb-4 two-column-row">
    <div class="col-12 col-lg-8 text-column">
        <h2 class="h2-responsive page-header mb-5">
            @if (Model.Item.HeaderType == Enumeration.HeaderType.Quote)
            {
                <sup><i class="fas fa-quote-left"></i></sup>@Model.Item.Header<sup><i class="fas fa-quote-right"></i></sup>
            }
            else
            {
                @Model.Item.Header
            }
        </h2>
        <h2 class="h2-responsive">
            High Quality Translations
        </h2>
        <p>
            It's imperative a translator respects the voice of the original material while adapting the text into something that reads natural, as if a native speaker had written it. This
            is something at which I excel. Not only am I a native Spanish speaker and writer, but I am also a natural English speaker and writer. In fact, I do what few translators must. I
            write and speak both languages every single day and have for years. This extends me the unique ability to grasp the linguistic and extra-linguistic characteristics of each.
        </p>
        <p>
            I offer direct and reverse translations for <b>Education</b>, <b>Fiction</b>, <b>Localization</b>, <b>Marketing</b>, <b>Medical</b>, and <b>Nonfiction</b> among other source materials.
        </p>
        <h3 class="h3-responsive mt-4">
            Direct Translation
        </h3>
        <p>
            A translator takes a source written in a foreign language and rewrites it into their native language. This is the simplest type of translation and what most translators do.
        </p>
        <h3 class="h3-responsive mt-4">
            Reverse Translation
        </h3>
        <p>
            A translator takes a source written in their native language and rewrites it into a foreign language. Few translators can manage a good reverse translation because of the idiomatic demand reverse translations place on a translator.
        </p>
    </div>
    <div class="col-lg-4 graphic-column">
        <img src="img/welcome-standing-md.png" title="Welcome! I'm glad you're here." alt="Welcome! I'm glad you're here." />
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-md-4 column-container">
        <h4 class="heading h4-responsive">
            Pricing
        </h4>
        <div class="body">
            <p>
                My per-word pricing is less than the cost of traditional agencies and benefits my clients in that it leaves them more money to drive sales.
            </p>
            <ul class="fa-ul">
                <li>
                    <span class="fa-li"><i class="fas fa-check-square"></i></span>
                    No additional costs
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square"></i></span>
                    Competitive pricing
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-4 column-container">
        <h4 class="h4-responsive heading">
            Efficiency
        </h4>
        <div class="body">
            <p>
                Fifteen years of experience along with being a natural speaker in English and Spanish means I get work done quickly and professionally.
            </p>
            <ul class="fa-ul">
                <li>
                    <span class="fa-li"><i class="fas fa-check-square"></i></span>
                    English/Spanish Translations
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square"></i></span>
                    10K+ words translated weekly
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-4 column-container">
        <h4 class="h4-responsive heading">
            Communicative
        </h4>
        <div class="body">
            <p>
                I take my clients no less seriously than they do their endeavors. Always feel free to contact me with questions or concerns.
            </p>
            <ul class="fa-ul">
                <li>
                    <span class="fa-li"><i class="fas fa-check-square"></i></span>
                    Available via e-mail
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square"></i></span>
                    Available via phone
                </li>
            </ul>
        </div>
    </div>
</div>