@page
@model web.professionaltranslator.net.Pages.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cinta Garcia - Professional Translator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/intro.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true"  />
</head>
<body>
    @await Component.InvokeAsync("Loading")
    <div class="container-fluid">
        <main role="main" class="pb-0">
            <div class="text-center fadeInDownBig animated" style="visibility: visible; animation-name: fadeInDownBig;">
                <img src="img/logo.png" alt="Cinta Garcia - Professional Translator" title="Cinta Garcia - Professional Translator" class="img-fluid intro-logo" />
            </div>
            <img src="img/intro-hola-hello.png" class="img-fluid float-right intro-hola-hello" alt="English <> Spanish Translations." title="English <> Spanish Translations." />
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 intro-container">
                    <div class="intro-lead fadeInLeftBig animated" style="visibility: visible; animation-name: fadeInLeftBig;">
                        <h1 title="Professional translations are complex. They require far more than swapping one word for another...">
                            Professional translations are complex. They require far more than swapping one word for another...
                        </h1>
                        <p>
                            <a class="btn btn-purple" asp-page="/Home" role="button" title="Discover what a professional translation can do for you."><span>Learn More!</span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 intro-hola-hello-mobile text-center">
                    <img src="img/intro-hola-hello.png" class="img-fluid" alt="English <> Spanish Translations." title="English <> Spanish Translations." />
                </div>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/intro.js" asp-append-version="true"></script>
    <script src="~/js/wow.js" asp-append-version="true"></script>
    <script src="~/js/global.js" asp-append-version="true"></script>

</body>
</html>
