@page
@model InquiryResultModel
@{
    ViewData["Title"] = Model.Item.Title;
}
<div class="row mt-5 mb-4">
    <div class="col-12 text-center page-header">
        <h1>
            @Html.Raw(Model.Item.Header)
        </h1>
    </div>
</div>
<div class="row mt-5 mb-4">
    <div class="col-12 text-justify">
        @Html.Raw(Model.Item.Body)
    </div>
</div>
<div class="row mt-5 mb-4">
    <div class="row blockquote">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>{name}</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>{email_address}</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>{title}</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>{genre}</b>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>{word_count}</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>{translation_type}</b>
        </div>
        <div class="clearfix"></div>
        <div class="col-12">
            <b>{message}</b>
        </div>
    </div>
</div>