@page
@model TestimonialsModel
@{
    ViewData["Title"] = Model.Item.Title;
    //string headerText = Model.Item.Header.Trim();
    string headerText = "Happy clients, merry life.";
}
@section MetaTags
{
    <meta name="title" content="Professional Translator, Cinta Garcia -- Testimonials">
    <meta name="description" content="What others say about my translation services.">
    <meta name="keywords" content="Fiction Translations, Translate English to Spanish, Translate Spanish to English, Translate Novels, Translate Short Stories">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="90 days">
    <meta name="author" content="Cinta Garcia de la Rosa Translation Services">
    <meta property="og:url" content="https://professionaltranslator.net/Testimonials" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Testimonials" />
    <meta property="og:description" content="Translating Fiction is an art, one that I specialize in." />
    <meta property="og:image" content="https://professionaltranslator.net/img/og/intro-16-9.png" />
    <meta property="og:image:alt" content="Professional Translator - English & Spanish" />
}
<div class="row mb-4 two-column-row align-items-start">
    <div class="col-lg-4 graphic-column">
        <img src="img/testimonials-md-sitting.png" title="@headerText" alt="@headerText" class="mt-6 medium-vanish" />
    </div>
    <div class="col-12 col-lg-8 text-column" style="padding-right: 15px;">
        <h2 class="h2-responsive page-header stay-visible mb-5">
            <sup><i class="fas fa-quote-left"></i></sup>@headerText<sup><i class="fas fa-quote-right"></i></sup>
        </h2>
        <h2 class="h2-responsive text-center">
            Testimonials
        </h2>
        @await Component.InvokeAsync("Testimonials")
    </div>
</div>
    
