@page
@model TestimonialsModel
@{
    ViewData["Title"] = Model.Item.Title;
}
<div class="row mt-5">
    <div class="col-12 text-center page-header">
        <h1>
            @Html.Raw(Model.Item.Header)
        </h1>
    </div>
</div>
@await Component.InvokeAsync("Testimonials")