<div class="container">
    <div class="row">
        <div class="col-12">
            <footer class="border-top footer text-muted">
                <div class="footer-top">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-4 col-sm-12 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                                <p class="text-center">
                                    <a href="https://asetrad.org/necesitas-un-traductor-corrector-o-interprete/buscador-de-socios/detalle?username=cgarcia" target="_blank" title="Visit me at Asetrad.">
                                        <img src="~/img/asetrad-logo-socio-prof.png" alt="Visit me at Asetrad." title="Visit me at Asetrad." />
                                    </a>
                                </p>
                                <p class="text-center">
                                    <a href="https://www.the-efa.org/memberinfo/cinta-garciadelarosa-28721/" target="_blank" title="Visit me at Editorial Freelancers Association.">
                                        <img src="~/img/efa-editors-association-logo.png" alt="Visit me at Editorial Freelancers Association." title="Visit me at Editorial Freelancers Association." />
                                    </a>
                                </p>
                            </div>
                            <div class="col-md-4 col-sm-12 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                                <p>
                                    <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Malaga, Spain
                                </p>
                                <p>
                                    <i class="fas fa-phone-alt"></i>&nbsp;&nbsp;(+34) 617 147 258
                                </p>
                                <p>
                                    <i class="fas fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:cinta@professionaltranslator.net">cinta@professionaltranslator.net</a>
                                </p>
                                <p>
                                    <i class="fa fa-lock"></i>&nbsp;&nbsp;<a asp-page="/Privacy" title="Read my privacy policy.">Privacy Policy</a>
                                </p>
                                <p>
                                    <i class="fa fa-cookie"></i>&nbsp;&nbsp;<a asp-page="/Cookies" title="Read my cookies policy.">Cookies Policy</a>
                                </p>
                            </div>
                            <div class="col-md-4 col-sm-12 footer-links wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="text-center">
                                            <a class="scroll-link" href="#wrapper" title="Go to the top of the page."><i class="fas fa-chevron-up fa-2x"></i></a>
                                        </p>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6 col-sm-12">
                                        <p class="text-center">
                                            <i class="fas fa-home"></i>&nbsp;&nbsp;<a asp-page="/Home" title="Go to home page.">Home</a>
                                        </p>
                                        <p class="text-center">
                                            <i class="fas fa-info-circle"></i>&nbsp;&nbsp;<a asp-page="/About" title="Learn about me.">About</a>
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <p class="text-center">
                                            <i class="fas fa-desktop"></i>&nbsp;&nbsp;<a asp-page="/Portfolio" title="See my past work.">Portfolio</a>
                                        </p>
                                        <p class="text-center">
                                            <i class="fas fa-envelope-open-text"></i>&nbsp;&nbsp;<a asp-page="/Contact" title="Get your translation started!">Contact</a>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-12">
                                        <p class="text-center">
                                            <i class="fas fa-comment"></i>&nbsp;&nbsp;<a asp-page="/Testimonials" title="Read what others have said about my translations.">Testimonials</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 footer-social text-center">
                                <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                                <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g fa-2x"></i></a>
                                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                                <a href="#"><i class="fab fa-pinterest fa-2x" fa-2x></i></a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <p class="text-center">
                                    Copyright &copy; 2020 Cinta Garcia, All Rights Reserved
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>