<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cinta Garcia - Professional Translator</title>
    @await RenderSectionAsync("MetaTags", true)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fontawesome.all.min.css" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/banner.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", false)
</head>
<body class="fadeInLeftBig animated" style="visibility: visible; animation-name: fadeInLeftBig;">
@await Component.InvokeAsync("Loading")
<div id="wrapper" class="d-flex">
    <div id="sidebar-wrapper" class="sidebar-wrapper-background border-right">
        <div class="list-group list-group-flush">
            <a class="list-group-item menu-link" asp-page="/Home" title="Go to home page.">
                <h3 class="menu-title">Home</h3>

                <div class="menu-icon">
                    <span class="line"></span>
                    <span class="fas fa-home" aria-hidden="true"></span>
                    <span class="line"></span>
                </div>

                <h6 class="menu-subtitle subtitle">
                    Re Translations
                </h6>
            </a>
            <a class="list-group-item menu-link" asp-page="/About" title="Learn about me.">
                <h3 class="menu-title">About</h3>

                <div class="menu-icon">
                    <span class="line"></span>
                    <span class="fas fa-info" aria-hidden="true"></span>
                    <span class="line"></span>
                </div>

                <h6 class="menu-subtitle subtitle">
                    Read Bio
                </h6>
            </a>

            <a class="list-group-item menu-link" asp-page="/Testimonials" title="Read what others have said about my translations.">
                <h3 class="menu-title">
                    Testimonials
                </h3>

                <div class="menu-icon">
                    <span class="line"></span>
                    <span class="fas fa-comment" aria-hidden="true"></span>
                    <span class="line"></span>
                </div>

                <h6 class="menu-subtitle subtitle">
                    Client Feedback
                </h6>
            </a>

            <a class="list-group-item menu-link" asp-page="/Portfolio" title="See my past work.">
                <h3 class="menu-title">
                    Portfolio
                </h3>

                <div class="menu-icon">
                    <span class="line"></span>
                    <span class="fas fa-book" aria-hidden="true"></span>
                    <span class="line"></span>
                </div>

                <h6 class="menu-subtitle subtitle">
                    View Past Work
                </h6>
            </a>

            <a class="list-group-item menu-link" asp-page="/Contact" title="Get your translation started!">
                <h3 class="menu-title">Contact</h3>

                <div class="menu-icon">
                    <span class="line"></span>
                    <span class="fas fa-envelope-open-text" aria-hidden="true"></span>
                    <span class="line"></span>
                </div>

                <h6 class="menu-subtitle subtitle">
                    Get in touch
                </h6>
            </a>
        </div>
    </div>
    <div id="page-content-wrapper">
        @*<div class="container-fluid">
            <div class="col-12 text-center">
            </div>
        </div>*@
        <header>
            <section id="header">
                <div class="container">
                    <div class="row">
                        <div class="col-12 nav-small-screen">
                            <nav class="navbar navbar-light sticky-top">
                                <button id="menu_small_toggle" class="navbar-toggler toggle-menu bg-white" type="button" aria-expanded="false" aria-label="Toggle navigation" title="Click to open/close the site's menu.">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </nav>
                        </div>
                        <div class="col-3">
                            <nav class="navbar navbar-light sticky-top mt-5 float-right nav-wide-screen">
                                <button id="menu_toggle" class="navbar-toggler toggle-menu" type="button" aria-expanded="false" aria-label="Toggle navigation" title="Click to open/close the site's menu.">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </nav>
                            <img src="~/img/logo.png" alt="Cinta Garcia - Professional Translator" title="Cinta Garcia - Professional Translator" class="img-fluid header-logo" />
                        </div>
                        <div class="col-9">
                            <div class="list-group list-group-flush get-started">
                                <a class="list-group-item menu-link" asp-page="/Contact" title="Get your translation started today.">
                                    <h3 class="menu-title">
                                        Why Wait?
                                    </h3>
                                    <div class="menu-icon">
                                        <span class="line"></span>
                                        <span class="fas fa-exclamation-circle" aria-hidden="true"></span>
                                        <span class="line"></span>
                                    </div>
                                    <h6 class="menu-subtitle subtitle">
                                        Start Your Translation Today!
                                    </h6>
                                </a>
                            </div>
                            <div class="info-safe-with-me" title="Your info is safe with me!">&nbsp;</div>
                        </div>
                        <div class="col-12 col-md-6 header-text-container">
                            <div class="header-text">
                                <h3 class="h3-responsive" title="Cinta Garcia - Professional Translator">
                                    Cinta Garcia, Professional Translator
                                </h3>
                                <div class="text-left" style="margin-left: 5px;">
                                    Respected member of <a href="https://asetrad.org/necesitas-un-traductor-corrector-o-interprete/buscador-de-socios/detalle?username=cgarcia" target="_blank" title="Visit me at Asetrad.">Asetrad</a> &amp; <a href="https://www.the-efa.org/memberinfo/cinta-garciadelarosa-28721/" target="_blank" title="Visit me at Editor's Association.">Editorial Freelancer Association</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 banner">
                            <img src="img/laurel-muted.png" title="Over 5,700,000 words translated." alt="Over 5,700,000 words translated." />
                            <h1 class="text">
                                5,700,000+ words translated
                            </h1>
                            <img src="img/laurel-muted.png" class="flip-img" title="5,700,000 words translated." alt="Over 5,700,000 words translated." />
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
</div>
<partial name="_Footer"/>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/fontawesome.all.min.js"></script>
    <script src="~/js/wow.js" asp-append-version="true"></script>
    <script src="~/js/global.js" asp-append-version="true"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
