@{
    ViewData[BlogConstants.Title] = Properties.Resources.Offline;
}
<div class="container">
    <h1>@Properties.Resources.Offline</h1>
    <p>Properties.Resources.ThePageYouRequestedCanNotBeShownBecauseYouAreOffline</p>
</div>