.navbar {
    display: block;
}

.navbar-light .navbar-toggler {
    border-color: #78379e;
}

.menu-link {
    display: inline-block;
    text-align: center;
    color: #642e84;
    width: 100%;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    margin: 0 auto 1.875rem
}

@media (min-width:768px) {
    .menu-link {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@media (max-width:768px) {
    .menu-link {
        margin: 0 auto 1rem
    }
}

.menu-link:hover {
    color: #78379e;
    text-decoration: none
}

    .menu-link:hover .menu-title,
    .menu-link:hover .menu-icon {
        color: #78379e;
    }

.menu-subtitle,
.menu-title {
    display: block;
    margin: 0;
    text-transform: uppercase;
    color: #642e84;
}

.menu-subtitle {
    color: #000;
}

.subtitle {
    font-family: "typewriter-bold";
    margin-top: 10px;
}

.menu-icon {
    color: #000;
    margin: 5px auto 0;
    margin: 0.3125rem auto 0;
    -webkit-transition: 0.2s -webkit-transform ease-in-out;
    transition: 0.2s -webkit-transform ease-in-out;
    -o-transition: 0.2s transform ease-in-out;
    transition: 0.2s transform ease-in-out;
    transition: 0.2s transform ease-in-out, 0.2s -webkit-transform ease-in-out
}

.menu-icon .fas {
    margin: 10px 0;
}

    .menu-icon .line {
        width: 30%;
        border-bottom: 1px solid #000;
    }

    .menu-icon span {
        display: inline-block;
        vertical-align: middle;
    }