@model string
@{
    var currentUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}";
    currentUrl = currentUrl.Replace("localhost:44322", "professionaltranslator.net");
    string enc = System.Net.WebUtility.UrlEncode(currentUrl);
    string text = System.Net.WebUtility.UrlEncode(Model);
}
<aside class="socialsharing mt-5">
    <h5 class="text-center h5-responsive">
        <i class="fas fa-grin-alt"></i>&nbsp;Sharing is appreciated.&nbsp;<i class="fas fa-grin-alt"></i>
    </h5>
    <a href="https://www.facebook.com/sharer/sharer.php?app_id=514955733017078&u=@enc&display=page&redirect_uri=@enc" target="_blank" rel="noopener noreferrer nofollow" title="Share on Facebook!">
        <i class="fa fa-facebook-square fa-2x"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?url=@enc&text=@text" target="_blank" rel="noopener noreferrer nofollow" title="Tweet about this!">
        <i class="fa fa-twitter-square fa-2x"></i>
    </a>
    @*<a href="https://plus.google.com/share?url=@enc" target="_blank" rel="noopener noreferrer nofollow">
            <svg role="img" aria-labelledby="_gp">
                <title id="_gp">Share on Google+</title>
                <path d="M7.635 10.909v2.619h4.335c-.173 1.125-1.31 3.295-4.331 3.295-2.604 0-4.731-2.16-4.731-4.823 0-2.662 2.122-4.822 4.728-4.822 1.485 0 2.479.633 3.045 1.178l2.073-1.994c-1.33-1.245-3.056-1.995-5.115-1.995C3.412 4.365 0 7.785 0 12s3.414 7.635 7.635 7.635c4.41 0 7.332-3.098 7.332-7.461 0-.501-.054-.885-.12-1.265H7.635zm16.365 0h-2.183V8.726h-2.183v2.183h-2.182v2.181h2.184v2.184h2.189V13.09H24"></path>
            </svg>
        </a>*@
    <a href="mailto:?subject=@Model.Replace(Constants.Space, "%20")&amp;body=@enc" target="_blank" rel="noopener noreferrer nofollow" title="Email friends about this!">
        <i class="fas fa-envelope-square fa-2x"></i>
    </a>
</aside>
